*{
    margin: 5px;
    padding: 0px;
}

button {
    margin: 10px;
    display: none;
}

a {
    display: block;
}

img {
    border: gray solid 5px;
}

.video {
    border: black solid 1px;
    border-radius: 16px;
    margin-bottom: 5px;
}